*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
xcuserdata

.svn/
obj/
bin/
build/
include/*.cc
include/*.h
include/*.r
include/TooN
include/cvd
include/gvars3
include/ARData
include/README.txt
!data/
